:root {
    --ui-dark-blue: #1a2633;
    --grey-text: #808080;
    --button-blue: #007fff;
    --background-grey: rgb(250, 250, 250);
}

body,
section,
header,
fieldset,
div,
p,
h1,
h2,
h3,
ul,
li,
table,
tr,
th,
td {
    border: 0px;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* anthony sent me this to help understand /*https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content*/
header {
    background-color: var(--ui-dark-blue);

}


nav {

    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;

    h1 {
        color: white;
        font-size: 25px;
        padding-left: 80px;
        margin: 0;

    }


    ul {
        list-style-type: none;
        display: flex;
        gap: 30px;
        padding-right: 70px;
    }

    a {
        color: white;
        text-decoration: none;
        border-radius: 10px;
        padding: 4px;

    }

    a:hover {
        color: #66b3ff;
    }

    a.current-highlight {
        padding: 10px 20px;


        background-color: color-mix(in srgb, var(--ui-dark-blue), white 20%);
    }



}

a.blue-button {
    /*anthony helped me with the dimensions for the button */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;

    background-color: var(--button-blue);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(47, 59, 64, 0.35);
    color: white;

    text-decoration: none;
}

.blue-button a:hover {
    background-color: var(--button-blue-highlight);
}

section#hero-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 60px;

    background-image: url(data/images/closet.jpg);
    background-size: cover;


    h2 {
        padding-top: 50px;
        padding-bottom: 20px;

        color: var(--ui-dark-blue);
        font-size: 30px;

    }

    p {
        color: var(--grey-text);
    }

    a {
        margin-top: 80px;
        align-self: center;
    }

}



section#products {


    h2 {
        color: black;
        text-align: center;
        font-size: 28px;
        margin-bottom: 40px;
    }


}

article.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    align-items: center;
    text-align: center;
    padding: 20px;

}


article.product-card p {
    margin: 20px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
article.product-card h3{
    text-align: center;
    margin:auto;
}

#products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 950px;
    justify-content: center;
    margin: 0 auto;

}

section#why-choose {
    background-color: rgb(250, 250, 250);
    margin-top: 80px;

    padding-bottom: 60px;
    text-align: center;

    h2 {
        padding-top: 60px;
        color: #1a2633;
        font-size: 30px;
    }



}

section#why-choose p {

    margin: 40px auto;
    width: 650px;
    color: #808080;


}

footer {
    padding-top: 30px;
    background-color: #1a2633;
    text-align: center;

}

footer h3 {
    margin:auto;
    padding-bottom: 30px;
    text-align: center;
}

.footer-grid {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;

}

.footer-column ul {

    list-style-type: none;
    text-align: center;
    min-width:180px;

    li {
        padding: 5px;


    }
}

footer p {
    margin:auto;
    padding-top:20px;

    padding-bottom: 20px;
    text-align: center;
    color: white;
    
}

.footer-column ul li a {
    color: rgb(213, 204, 204);
    text-decoration: none;
    border-radius: 10px;
    padding: 4px;
    text-align: center;}

hr {

    background-color: white;
    opacity: 30%;
    width: 80%;
    border: none;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;


}


section#about-asg {

    text-align: center;
    background-color: var(--background-grey);


    h2 {
        padding: 40px;
        color: var(--ui-dark-blue);

    }

    p {
        color: var(--grey-text);
        padding-bottom: 40px;
    }
}

section#story {
    text-align: left;
    max-width: 700;
    margin: auto;

    h2 {
        color: var(--ui-dark-blue);
        text-align: left;
        margin: 40px 0;

    }

    p {

        color: #676363;
        margin: 40px 0;
    }



}

section#story img {
    width: 700;
    height: 350;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 50px;

}

section#values {
    background-color: var(--background-grey);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;


}

#value-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    p {
        color: var(--grey-text);
        margin: 20px;

    }



    h2 {
        display: flex;
        align-items: center;
        /*tai helped me figure out how to make the circle*/
        justify-content: center;
        width: 60px;
        height: 60px;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        border-radius: 100%;
        background-color: var(--button-blue);
        margin: 20px 0;


    }






}

article.value-card {
    display: flex;
    align-items: center;

    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 240px;

    padding: 20px;
    margin: 60px 30px;

    text-align: center;

    border: 1px solid darkgray;
}

article.value-card h3{
    margin-left:auto;
    margin-right:auto;
}

section#meet-team {
    text-align: center;
    max-height: 700px;

    h2 {
        margin-top: 30px;
        margin-bottom: 30px;

    }

    p {
        max-width: 700px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

#team-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

article.team-member {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: flex-start;
    align-items: center;

    h3 {
        margin: 50px 0;
        font-size: 18px;
        color: var(--ui-dark-blue);


    }

    h4 {
        color: var(--grey-text)
    }

    img {
        margin-bottom: 20px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    p {
        width: 240px;
        margin: 15px 0;
        color: rgb(46, 46, 46);
        text-align: center;
    }

}


section#journey {
    background-color: var(--background-grey);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    h2 {
        color: (--ui-dark-blue);

        padding: 40px;
    }

}

section#journey ul {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

section#journey li {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    list-style-type: none;

    margin-bottom: 50px;
    padding-left: 50px;
    border-left: 3px solid var(--button-blue);

}

.date {
    color: var(--ui-dark-blue);
    font-weight: bold;
    margin-bottom: 20px;

}



#bread-crumbs {
    background-color: var(--background-grey);
}

#bread-crumbs p {
    padding: 30px 110px;


}

section#product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 40px;

}

div.product-info {

    grid-column: 2;


}

div.all-imgs {
    grid-column: 1;
}

div.big-product-img {
    padding-left: 70px;
    margin-bottom: 20px;



}

div.small-product-imgs {
    margin-top: 30px;
    padding-left: 275px;

}

p.stars {
    color: orange;
    margin: 20px 0;
}

p.product-price {
    font-weight: bold;
    color: red;
    font-size: 24px;
    margin: 20px 0;

}

p.product-description {
    margin: 20px 0;
    line-height: 30px;
}

#product-view form {}

div.size-style {
    display: flex;
    flex-wrap: wrap;

}

div.size-options p {
    font-weight: bold;
}

div.size-style label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    width: 20px;
    height: 20px;
    font-weight: 500;
    border: 1px solid black;
    opacity: 0.20;


}

div.size-style input {
    appearance: none;
    margin: 0px;
    padding: 0px;
}

input[type="radio"]:checked+label {
    /*https://stackoverflow.com/questions/1431726/css-selector-for-a-checked-radio-buttons-label*/
    opacity: 1;
    border: 1px solid #000000;

}

input[type="radio"]:hover+label {
    opacity: 0.75;

}


legend {
    font-weight: bold;
}



label[for="cream"] {
    opacity: 0.2;
    background-color: rgb(199, 169, 111);
}

label[for="navy"] {
    opacity: 0.2;
    background-color: navy;
}

label[for="grey"] {
    opacity: 0.2;
    background-color: grey;
}

label[for="orange"] {
    opacity: 0.2;
    background-color: orange;
}

#buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;

}

button[type="submit"] {

    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;

    background-color: var(--button-blue);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(47, 59, 64, 0.35);
    color: white;

    text-decoration: none;
}

button.add-wishlist {



    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;

    background-color: var(--grey-text);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(47, 59, 64, 0.35);
    color: white;

    text-decoration: none;
}

hr.black {
    background-color: rgb(0, 0, 0);
    width: 90%;
    border: none;
    height: 1px;
    margin-bottom: 40px;

    padding: 0;
}

section#product-details {

    width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

div.tabs a {
    color: black;
    text-decoration: none;
    margin-left: 60px;

}

#current-tab {
    color: var(--button-blue);
    border-bottom: 3px solid var(--button-blue);
    padding-bottom: 19px;

}

#product-details h2,
h3,
p,
table {
    margin-left: 60px;

}
#product-details p {
    max-width: 1000px;
}

#product-details tr {
    display: flex;
    height: 50px;

    border-bottom: 1px solid #0000004d;
}

#product-details td {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 650px;

}

#product-details th {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 400px;

    background-color: var(--background-grey);
}

#customer-reviews {
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
}

#customer-reviews h2{
    margin-left:60px;
    margin-top: 40px;
}


#customer-reviews ul{
    list-style-type: none;
}

article.review p{
    display: inline-block;

}

p.customer-name {
    font-weight: bold;
}
p.date{
    color:grey
}
p.rating{
    color: orange;
}

#customer-reviews li {
    p{
        margin: 20px 60px;
        
    }
}



